<!DOCTYPE html>

<html lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ page_title }}</title>

        {{ content_for_header }}

        {{ 'base.css' | asset_url | stylesheet_tag }}
        {{ 'theme.css' | asset_url | stylesheet_tag }}

        {% style %}
        :root {
            --page-width: {{ settings.page_width }}px;
            --section-spacing: {{ settings.spacing_sections }}px;
            }
        {% endstyle %}
        
    </head>

    <body>
        {% sections 'header-group' %}

        <main id="MainContent" role="main">
            {{ content_for_layout }}
        </main>

        {% sections 'footer-group' %}
    </body>
</html>

