<header class="header">

    <div class=logo-content>
        <a href="/" class="header-logo-link">
            {{ shop.name }}
        </a>
    </div>

    <div class=navigation-container>
        {% for link in section.settings.menu.links %}
            {{ link.title | link_to: link.url }}
        {% endfor %}    
    </div>

    <div class=icons-container>

        <form action="{{ routes.search }}" method="get" class="search-bar">
            <input type="text" name="search" placeholder="Search">
            <button type="submit" class="search-bar-icon"></button>
        </form>

        <a href="{{ routes.cart_url }}" class="shopping-cart">
            (<span class="cart-count">{{ cart.item_count }}</span>)
        </a>
    </div>

</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Menu"
        }
    ],
    "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %}