<header class="header">

    <div class=logo-content>
        <a href="/" class="header-logo-link">
            {%- if settings.logo != blank -%}
                {{ settings.logo | image_url: width: settings.logo_width | image_tag: width: settings.logo_width, alt: shop.name }}
            {%- else -%}
                {{ shop.name }}
            {%- endif -%}
        </a>
    </div>

    <div class=navigation-container>
        {% for link in section.settings.menu.links %}
            {{ link.title | link_to: link.url }}
        {% endfor %}    
    </div>

    <div class="icons-container">
        
        <form action="{{ routes.search_url }}" method="get" class="search-bar" role="search">

            <button type="submit" class="search-bar-icon" aria-label="Search">
                {{ 'search-icon.svg' | inline_asset_content }}
            </button>
            
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search">
        </form>
        
       <a href="{{ routes.cart_url }}" class="shopping-cart" aria-label="Cart">
        <img src="{{ 'cart-icon.svg' | asset_url }}" alt="" width="24" height="24">
        {%- if cart.item_count > 0 -%}
            <span class="cart-count">{{ cart.item_count }}</span>
        {%- endif -%}
</a>

</div>

</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Menu"
        }
    ],
    "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %}