<div class="product-detail-page">

    <div class="pdp-main">

        <div class="pdp-image">
            {% if product.featured_image != blank %}
                <img src="{{ product.featured_image | image_url: width: 600 }}" alt="{{ product.title }}" loading="eager">
            {% else %}
                {{ 'product-1' | placeholder_svg_tag }}
            {% endif %}
        </div>

        <div class="pdp-details">
            <h1 class="pdp-header">{{ product.title }}</h1>
            <h3 class="pdp-sub-header">{{ product.description }}</h3>

            <p class="pdp-price">{{ product.price|money }}</p>

            {% unless  product.has_only_default_variant %}

                <div class="pdp-variants">
                    {% for option in product.options_with_values %}
                      <div class="pdp-option-group">

                        <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>

                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}">
                            {% for value in option.values %}
                                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                                    {{ value }}
                                </option>
                            {% endfor %}
                        </select>

                      </div>
                    {% endfor %}
                </div>
              
            {% endunless %}

            {% comment %}
             OG CODE BECAUSE LOWKEY NOT GETTING THE VARIANT CODE YET

              <div class="pdp-size">
                <label for="size">Size</label>
                <select id="size" name="size" size="2" multiple>
                    <option value="large">Large</option>
                    <option value="medium">Medium</option>
                </select>
            </div>

            <div class="pdp-material">
                <label for="material">Material</label>
                <select id="material name=material size=2" multiple>
                    <option value="idk1">IDK1</option>
                    <option value=idk2>IDK2</option>
                </select>
            </div>
            {% endcomment %}

            <div class="pdp-quantity">
                <button type="button" class="pdp-qty-btn-minus">-</button>
                <input type="number" class="pdp-qty-inp" name="quantity" value="1" min="1">
                <button type="button" class="pdp-qty-btn-plus">+</button>
            </div>

            <div class="pdp-addtocart-btn">
                {% form 'button' %}
                  {% render 'buttons', text: 'Add to Cart', type: 'submit' %}
                {% endform %}
            </div>
        </div>

        <div class="pdp-key-features">
            <h2 class="key-features-title">Key Features</h2>

            <div class="key-features-grid">
                {{ product.metafields.custom.features | metafield_tag }}
            </div>
        </div>

        <div class="pdp-specs">
            <h2 class="pdp-specs-title">Specifications</h2>

            <div class="pdp__specs-table">
                {{ product.metafields.custom.specifications | metafield_tag}}
            </div>

        </div>

        
          <div class="you-may-also-like">
            {% section 'product-recommendations' %}
          </div>
       

    </div>
</div>

{% schema %}
{
    "name": "Product Page",
    "settings": [],
    "presets": [
        {
            "name": "Product Page"
        }
    ]
}
{% endschema %}